@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap");

body {
  margin: 0 auto;
  padding: 1em;
  max-width: 60em;
  font-family: "Roboto Mono", sans-serif;
  line-height: 1.5;
  color: #2d354c;
}

button,
input {
  font: inherit;
  color: inherit;
}

th,
td,
button,
input {
  padding: 0.75em 1em;
}

table#weblinks {
  width: 100%;
  border-collapse: collapse;
}

table#weblinks tfoot {
  background: #eee;
}

table#weblinks td,
table input {
  border: 1px solid #dadada;
}

.btn {
  display: inline-block;
  border: 0;
  border-radius: 0.25em;
  cursor: pointer;
}

.btn-submit,
.btn-remove {
  color: #fff;
}

.btn-submit {
  background-color: #0da584;
}

.btn-remove {
  background-color: #f27471;
}

h1 {
  text-align: center;
}
